/* css styles */

.header {
  
  background: rgb(5,172,193);
  background: linear-gradient(120deg, rgba(5,172,193,1) 50%, rgba(158,198,93,1) 50%);
  padding:40px;
  font-size: 4vw;
  margin-bottom: 20px;

}

.boom {
  
  transform: scale(1.3);
  
}
